$accent-color: #f00031;

.contract-details-banner {
  position: relative;
  border-radius: 1.5rem;
  // background: black;

  // max-width: calc(1376px - 2rem);
  max-width: calc(1740px);
  margin: auto;

  padding: 1.75rem 2.25rem;

  font-family: "Integral CF", sans-serif;
  color: white;

  border: 0.5px solid $accent-color;
  backdrop-filter: blur(5px);

  // &::after {
  //   content: "";
  //   position: absolute;
  //   inset: -0.5px;
  //   border-radius: 1.5rem;
  //   background: linear-gradient(45deg, $accent-color 0%, black 50%, $accent-color 100%);
  //   z-index: -1;
  // }

  .header,
  .header .details,
  .header .token {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2.5rem;

    @media (max-width: 768px) {
      justify-content: center;
    }

    .details {
      flex-wrap: wrap;
      gap: 0.4rem;

      .label {
        text-transform: uppercase;
        font-size: 1.25rem;
        line-height: 101%;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
      .address {
        text-transform: uppercase;
        line-height: 101%;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .token {
      gap: 0.4rem;

      .name,
      .sign {
        font-size: 1.25rem;
        line-height: 101%;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }

      .sign {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    margin-bottom: 3rem;

    .stat-item {
      display: flex;
      align-items: flex-end;
      gap: 0.4rem;

      .value {
        font-size: 2.5rem;
        line-height: 101%;

        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }

      .sub {
        line-height: 101%;
        color: rgba(255.25, 255, 255, 0.5);
      }

      .tag {
        color: $accent-color;
        line-height: 101%;
        text-transform: uppercase;
      }

      .joined {
        display: flex;
        align-items: flex-end;

        .vertical-divider {
          font-size: 2.5rem;
          line-height: 101%;
          padding: 0 0.1rem;
          color: $accent-color;

          @media (max-width: 768px) {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
