$accent-color: #f00031;

.contract-search {
  max-width: 1376px;

  padding: 1rem;

  margin-left: auto;
  margin-right: auto;

  .search-container {
    position: relative;
    height: 75px;
    background: linear-gradient(
      75deg,
      $accent-color 0%,
      black 60%,
      black 90%,
      rgba($color: $accent-color, $alpha: 0.4)
    );
    border-radius: 25px;
    padding: 0.5px;

    @media (max-width: 768px) {
      height: 50px;
    }
  }

  .search-box {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    margin: 0;
    display: block;
    background: black;
    border: none;
    color: rgba($color: $accent-color, $alpha: 0.5);
    font-size: 1.25rem;
    line-height: 101%;
    padding: 0.5rem 2.75rem;

    &::placeholder {
      color: rgba($color: $accent-color, $alpha: 0.5);
    }
  }

  .search-icon {
    position: absolute;
    right: 1rem;
    top: 15px;
    background: transparent;
    border: transparent;

    @media (max-width: 768px) {
      top: 2px;
    }

    img {
      display: block;
    }
  }
}
