$accent-color: #f00031;

.contract-search {
  // max-width: 1376px;
  max-width: calc(1740px + 2rem);

  padding: 1rem;

  margin-left: auto;
  margin-right: auto;

  .search-container {
    position: relative;
    height: 75px;
    // background: linear-gradient(
    //   75deg,
    //   $accent-color 0%,
    //   black 60%,
    //   black 90%,
    //   rgba($color: $accent-color, $alpha: 0.4)
    // );
    border: 0.5px solid $accent-color;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 0.5px;

    @media (max-width: 768px) {
      height: 50px;
    }
  }

  .search-box {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    margin: 0;
    display: block;
    // background: black;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    color: rgba($color: $accent-color, $alpha: 0.5);
    font-size: 1.25rem;
    line-height: 101%;
    padding: 0.5rem 2.75rem;

    @media (max-width: 768px) {
      font-size: 1rem;
      padding: 0.5rem 1.75rem;
    }

    &::placeholder {
      color: rgba($color: $accent-color, $alpha: 0.5);
    }
  }

  .search-icon {
    position: absolute;
    right: 1rem;
    top: 15px;
    background: transparent;
    border: transparent;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    @media (max-width: 768px) {
      top: 2px;
    }

    &:hover {
      .hover-text {
        opacity: 1;
      }
    }

    .hover-text {
      opacity: 0;
      transition: all 0.3s ease-in-out;
      font-family: "Integral CF", sans-serif;
      color: rgba($color: white, $alpha: 0.5);
    }

    img {
      display: block;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        filter: saturate(10) brightness(1.5);
        transform: scale(1.1);
      }
    }
  }
}
