$accent-color: #f00031;

.contract-tab-navigation {
  margin: 3rem 0;

  .navigation-list {
    display: flex;
    gap: 3.75rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    list-style: none;
    padding-left: 0;

    @media (max-width: 1025px) {
      flex-direction: column;
    }

    @media (max-width: 768px) {
      gap: 2rem;
    }

    @media (max-width: 512px) {
      gap: 1rem;
    }

    .navigation-item {
      text-align: center;

      span {
        color: rgba($color: #ffffff, $alpha: 0.2);

        font-family: "Integral CF";
        font-size: 1.5rem;
        line-height: 101%;

        transition: all 0.3s ease-in-out;

        &:hover {
          color: $accent-color;
          opacity: 1;
          cursor: pointer;
        }

        @media (max-width: 986) {
          font-size: 1.2rem;
        }

        @media (max-width: 768px) {
          font-size: 1rem;
        }

        @media (max-width: 512px) {
          font-size: 0.8rem;
        }
      }

      span.active {
        color: $accent-color;
        opacity: 1;
        padding: 1.5rem 2rem;
        // background: linear-gradient(to right, $accent-color, black, $accent-color);
        background: rgba($color: $accent-color, $alpha: 0.1);
        border: 0.5px solid $accent-color;
        border-radius: 1.5rem;

        @media (max-width: 986px) {
          padding: 1rem 1.5rem;
        }

        @media (max-width: 512px) {
          padding: 0.6rem 1rem;
        }
      }
    }
  }
}
